.app-header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 8.5rem;
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
  width: auto;
  z-index: 11; 
}

/* --- Navigation Menu --- */

.nav-menu {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.nav-links li {
  padding: 0 24px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #ddd;
}

/* --- Hamburger Menu for Mobile --- */

.hamburger-menu {
  display: none; 
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 11;
}

.hamburger-menu .bar {
  width: 2rem;
  height: 0.25rem;
  background: white;
  border-radius: 10px;
  transition: all 0.3s linear;
}

/* --- Responsive Styles for Mobile/Tablet --- */

@media (max-width: 768px) {
  .app-header {
    padding: 20px;
  }
  
  .header-container {
    padding: 0; 
  }

  .hamburger-menu {
    display: flex; 
    margin-left: auto; 
  }

  .nav-menu {
    display: none;
    position: absolute;
    /* Position it below the header */
    top: 80px; /* Adjust as needed */
    right: 20px;
    /* Give it a size */
    width: auto;
    /* Style it like a dropdown */
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  .nav-menu.open {
    display: flex; /* This makes it visible */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links {
    flex-direction: column; 
    margin: 0 0 2rem 0; 
    margin-right: 0;
  }
  .nav-links li{

    padding: 5px 3px;
  }
  
  .nav-links a{
    color: black;
  }
}